.wrapper{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
}

.info{
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 8px;
    font-weight: bold;
}

.family{
    font-size: 6px;
    color: #3e3e3e;
}

.quantity{
    font-size: 6px;
}

.price{
    font-weight: bold;
    font-size: 8px;
}

.trashButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid #e5e5e5;
    background-color: white;
    margin-left:   auto;
    height: 7px;
    width: 7px;
    transition: background-color 0.1s ease-in-out;
    border-radius: 2px;
}
.trashButton:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}
.img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 2px;
}
.trashIcon{
    height: 6px;
    width: 6px;
}