.wrapper{
    width: 100%;
    min-height: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    transition: min-height 0.3s ease-out;
    overflow: hidden;
}
.wrapper.open{
    min-height: 200px;
}

.sectionHeader{
    font-weight: bold;
    font-size: 8px;
    display: flex;
    align-items: center;
}

.sectionContent{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px 0px 0px;
}
.img{
    margin-left: auto;
    height: 8px;
    transition: transform 0.3s ease-in-out;
}

.img.open{
    transform: rotate(180deg);

}